[submodule "imgui/imgui"]
	path = imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "implot/implot"]
	path = implot/implot
	url = https://github.com/epezent/implot.git
[submodule "vk/Vulkan-Headers"]
	path = vk/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
